


<div class="card my-2" *ngIf="movie">
  <div class="card-body">
      <span class="badge badge-warning">
          id: {{movie.id}} 
      </span>

      <p>Test</p>

     <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control" [(ngModel)]="movie.name">
     </div>
     
    <div class="form-group">
        <label for="imgUrl"></label>
        <input type="text" class="form-control" [(ngModel)]="movie.imgUrl">
    </div>

    <div class="form-group">
        <label for="description"></label>
        <textarea  class="form-control" [(ngModel)]="movie.description"></textarea>
    </div>

    <button class="btn btn-primary btn-sm" (click)="update()">Save changes</button>

  </div>
</div>